@use './base.scss';

.btn_primary {
  font-size: 1.2em;
  width: 100px;
  height: 40px;
  border: base.$fb-primary-color 1px solid;
  background-color: base.$fb-light-color;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
    font-size: 1.3em;
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .sidebar {
  }

  .pages {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
}
