@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoKufiArabic'; /* Specify the desired font family name */

  /* Font files in order of font weight (from lightest to heaviest) */
  src: url('./fonts/NotoKufiArabic-Thin.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-Light.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-Regular.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-Medium.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-SemiBold.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-Bold.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-ExtraBold.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-ExtraLight.ttf') format('truetype'),
    url('./fonts/NotoKufiArabic-Black.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
