@use '../../base.scss';

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 10px;

  .employees-number {
    border: 1px solid base.$fb-secondery-color;
    border-radius: 4px;
    padding: 5px;
    font-weight: 700;
    font-size: 1.2em;
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;

  thead {
    background-color: base.$fb-primary-color;
    color: #ffffff;
  }

  tr {
    display: block;
    position: relative;
  }
  th,
  td {
    padding: 20px;
    width: 100px;
  }

  th {
    text-align: right;
  }

  td {
    text-align: right;
  }

  td svg {
    font-size: 1.4em;
    color: #4267b2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  td svg:hover {
    transform: scale(1.5);
  }

  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  tr:nth-child(even) {
    background-color: #4267b222;
  }

  .id-column {
    min-width: 100px;
  }

  .name-column {
    min-width: 250px;
  }
  .job_title-column {
    min-width: 100px;
  }
  .degree-column {
    min-width: 100px;
  }
  .status-column {
    min-width: 100px;
  }
  .workday-column {
    min-width: 100px;
  }
  .joining_date-column {
    min-width: 100px;
  }
  .phone_number-column {
    min-width: 80px;
  }

  .birthdate-column {
    min-width: 100px;
  }
  .address-column {
    min-width: 70px;
  }
  .edit-column {
    min-width: 50px;
  }
  .delete-column {
    min-width: 50px;
  }
}
