.add-employee-container {
  background-color: #4267b2;
  color: #ffffff;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.add-employee-form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 40px;
}

.add-employee-input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-employee-input-field input {
  width: 200px;
  height: 25px;
  font-size: 1.2em;
}

.add-employee-input-field #id {
  width: 100px;
}

input[type='date'] {
  width: 120px;
}

.add-employee-input-field select {
  width: 100px;
  font-size: 1.2em;
}

.add-employee-form-container button {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 40px;
  border: #4267b2 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
