.employee-form-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.employee-form-header {
  background-color: #4267b2;
  color: #ffffff;
  margin: 20px;
  text-align: center;
  padding: 10px;
  width: 80vw;
}

.employee-form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 100px;
  width: 80vw;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field label {
  font-size: 1.2em;
  font-weight: 900;
}

.input-field input,
.input-field select {
  font-size: 1.2em;
  width: 240px;
  height: 30px;
}

.input-field input[type='number'] {
  font-size: 1.2em;
  width: 140px;
  height: 30px;
}

.employee-form-save-btn {
  font-size: 1.2em;
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 40px;
  border: #4267b2 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
