.edit-model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.close-model-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
}
.close-model-btn svg {
  font-size: 1.5em;
  cursor: pointer;
  color: #4267b2 !important;
  border-radius: 50%;
  background-color: #ffffff;
}
