.employees-navbar-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #4267b2;
  border-radius: 10px;
  list-style: none;
}
.employees-navbar-item {
  margin: 20px;
  padding: 10px;
  height: 80%;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 2px;
  align-items: center;
}

.employees-navbar-item:hover {
  background-color: #898f9c;
  transform: scale(1.2);
}

.employees-navbar-item span {
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.employees-navbar-item svg {
  color: #ffffff;
  font-size: 1.3em;
}

.printable-table {
  display: none;
}

.printable-table h2 {
  text-align: center;
  margin: 40px;
}

/* Define styles for when printing */
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .printable-table {
    display: block !important;
    margin: 20px;
  }
}
