.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin: 10px 0 0 0;
}

.pagination button {
  background-color: #4267b2;
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.pagination button[disabled] {
  background-color: #4267b222;
  cursor: default;
}

.pagination .active {
  background-color: #898f9c;
}
