.employees-table-container {
  width: 100%;
  position: relative;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 20px auto;
}

thead {
  background-color: #4267b2;
  color: #ffffff;
}

tr {
  display: block;
  position: relative;
}
th,
td {
  padding: 10px;
}

th {
  text-align: center;
}

td {
  text-align: right;
}

td svg {
  font-size: 1.4em;
  color: #4267b2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
td svg:hover {
  transform: scale(1.5);
}

tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
}
tr:nth-child(even) {
  background-color: #4267b222;
}

.id-column {
  width: 100px;
}

.name-column {
  width: 200px;
}
.job_title-column {
  width: 150px;
}
.degree-column {
  width: 100px;
}
.status-column {
  width: 100px;
}
.workday-column {
  width: 100px;
}
.joining_date-column {
  width: 120px;
}
.phone_number-column {
  width: 120px;
}

.birthdate-column {
  width: 120px;
}
.address-column {
  width: 70px;
}

.edit-model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
  background-color: #fff;
  border-radius: 20px;
}
