.search-container {
  background-color: #3b5998;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

.search-inputs {
  display: flex;
  justify-content: space-around;
}

.input-field {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.input-field input {
  height: 25px;
  border: none;
  border-radius: 5px;
}

.input-field #id {
  width: 100px;
}

.input-field #name {
  width: 400px;
}

.columns-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin: 30px 40px;
}

.line {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.columns-checkbok-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  padding: 0 40px;
}

.columns-checkbok {
  display: flex;
  gap: 16px;
}

.columns-checkbok label {
  max-width: 130px;
}

.search-btn {
  font-size: 1.2em;
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 40px;
  border: #4267b2 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
